@import 'variables';

.footer {
    background-color: $background-color;
    border-top: 1px solid white;
    color: $text-color;
    font-family: $font-family;    
    display:flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index:1;
}

.column {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;     
    font-size:small;
    flex:33%;
    padding: 2px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .column {
        font-size: 10px;
    }

    .footer {
        margin-left: 0%;
    }
}