@import 'variables';

.footer {
    background-color: $background-color;
    border-top: 1px solid white;
    color: $text-color;
    font-family: $font-family;    
    display:flex;
    position: fixed;
    width: 80%;
    bottom: 0px;
    margin-left: 20%;
}

.column {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;     
    font-size:small;
    flex:25%;
    padding: 2px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .column {
        font-size: 8px;
    }
}