* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #bc8cf2;
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.sidenav a:hover {
  color: #b330f0;
}

.sidefoto {
  border-radius: 60px;
  margin-left: 30px;
  height: 120px;
}

.sideinfo {
  font-size: 12px;
  text-align: center;
}

@media (max-width: 480px) {
  .sideinfo {
    font-size: 10px;
  }
  .sidefoto {
    margin-left: 35%;
  }
  .sidenav {
    padding-top: 15px;
    width: 100%;
    height: 500px;
    position: absolute;
  }
  .sidenav a {
    font-size: 10px;
    text-align: center;
  }
}

/* ALGEMEEN */
* {
  background-color: #2d2a2e;
}

h1, h2, h3, h4, p, span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

h1 {
  color: #b330f0;
  text-align: center;
}

h2 {
  color: #bc8cf2;
}

h3, h4 {
  color: #eeeeee;
}

p, span {
  color: #eeeeee;
  text-align: center;
  font-size: 20px;
}

/* END OF ALGEMEEN */
/* INDEX */
.sideinfo {
  text-align: left;
}

.index {
  color: #bc8cf2;
  text-align: center;
}

.index2 {
  color: #eeeeee;
  text-align: center;
}

.content {
  display: block;
  position: relative;
  height: 300px;
  margin-left: 180px;
}

.indexfoto {
  border-radius: 70px;
  width: 100%;
  height: 90%;
}

.info {
  font-size: 15px;
}

.info span {
  font-size: 15px;
}

.fab {
  color: #bc8cf2;
}

/* END OF INDEX */
/* ABOUT ME */
.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 250px;
  width: 80%;
  margin-left: 180px;
}

.tekst {
  width: 40%;
}

.profielfoto {
  width: 350px;
  border-radius: 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: block;
  position: relative;
}

/* END OF ABOUT ME */
/* SKILLS */
.skills1 {
  height: 800px;
}

.skills {
  text-align: left;
  margin-left: 180px;
}

hr {
  margin-left: 180px;
}

h3 > p {
  text-align: left;
}

/* END OF SKILLS */
/* WERKVERLEDEN */
.werkverleden {
  margin-left: 180px;
}

div > p {
  text-align: left;
}

/* END OF WERKVERLEDEN */
/* PROJECTEN */
.projecten {
  margin-left: 180px;
}

h2 ~ p {
  text-align: left;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  width: 350px;
  margin: auto;
  background-color: white;
}

.cirkel {
  display: block;
  height: 200px;
  width: 200px;
  background-color: #df3ec9;
  border-radius: 50%;
  -webkit-animation-name: change;
          animation-name: change;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes change {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0px;
  }
  30% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  40% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  60% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  70% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0px;
  }
  90% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes change {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0px;
  }
  30% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  40% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  60% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  70% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0px;
  }
  90% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* END OF PROJECTEN */
/* CONTACT */
form {
  border-width: 1px;
  border-style: dashed;
  border-color: #b330f0;
  padding: 15px;
  width: 70%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: small;
  margin-left: 180px;
}

label {
  float: left;
  width: 250px;
  text-align: left;
  margin-right: 15px;
  color: #eeeeee;
}

input {
  background-color: #bc8cf2;
  font-size: x-small;
  border: 1px solid;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-color: #bc8cf2;
  margin-bottom: 10px;
}

textarea {
  width: 250px;
  height: 100px;
  background-color: #bc8cf2;
  border: 1px solid #b330f0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: small;
  margin-bottom: 10px;
}

.button {
  background-color: #bc8cf2;
  color: #eeeeee;
  left: 100px;
}

/* END OF CONTACT */
/* MEDIA QUERIES */
@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 10px;
  }
  p, span {
    font-size: 10px;
  }
  .indexfoto {
    width: 100%;
    height: 20%;
  }
  .content {
    margin-top: 500px;
    margin-left: 0px;
  }
  .aboutme {
    width: 100%;
    margin-top: 500px;
    margin-left: 0px;
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tekst {
    width: 100%;
    height: 50%;
  }
  .profielfoto {
    width: 250px;
    height: 350px;
  }
  .skills1 {
    margin-top: 500px;
    margin-left: 0px;
  }
  .skills {
    margin-left: 0px;
  }
  .werkverleden {
    margin-top: 500px;
    margin-left: 0px;
    height: 400px;
  }
  .projecten1 {
    margin-top: 500px;
    margin-left: 0px;
  }
  .projecten {
    margin-left: 0px;
  }
  .container {
    width: 100px;
    height: 100px;
    margin-bottom: 10%;
  }
  .cirkel {
    width: 50%;
    height: 50%;
  }
  form {
    width: 85%;
    margin-top: 500px;
    margin-left: 0px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 13px;
  }
  p, span {
    font-size: 13px;
  }
  .content {
    width: 70%;
    margin-left: 25%;
  }
  .aboutme {
    width: 70%;
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25%;
  }
  .tekst {
    width: 70%;
    height: 50%;
  }
  .profielfoto {
    width: 250px;
    height: 350px;
    margin-top: 50px;
  }
  .skills1 {
    width: 70%;
    margin-left: 25%;
  }
  .skills {
    margin-left: 0%;
  }
  .werkverleden {
    width: 70%;
    margin-left: 25%;
  }
  .projecten1 {
    width: 70%;
  }
  .container {
    width: 200px;
    height: 200px;
    margin-top: 10%;
    margin-left: 50%;
  }
  .cirkel {
    width: 50%;
    height: 50%;
  }
  form {
    width: 95%;
  }
  textarea {
    width: 150px;
    height: 750px;
  }
}

/* END OF MEDIA QUERIES */
.footer {
  background-color: #2d2a2e;
  border-top: 1px solid white;
  color: #eeeeee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 1;
}

.column {
  background-color: #2d2a2e;
  color: #eeeeee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: small;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .column {
    font-size: 10px;
  }
  .footer {
    margin-left: 0%;
  }
}
/*# sourceMappingURL=index.css.map */